[submodule "public/typo3conf/ext/caretaker_instance"]
	path = public/typo3conf/ext/caretaker_instance
	url = https://github.com/TYPO3-Caretaker/caretaker_instance.git
[submodule "public/typo3conf/ext/caretaker"]
	path = public/typo3conf/ext/caretaker
	url = https://github.com/TYPO3-Caretaker/caretaker.git
